#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.FormComponent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
  width: 450px;
}

.FormComponent_h1 {
  font-size: 3rem;
}

.InputField {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 8px;
  font-weight: 700;
}

.InputField_input {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #fff;
}

.SubmitButton {
  align-self: center;
  width: 200px;
  padding: 8px;
  border-radius: 10px;
  outline: none;
  background-color: rgb(233, 106, 2);
  cursor: pointer;
  border: none;
  opacity: .8;
  transition: .2s ease-in-out;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.SubmitButton:hover {
  opacity: 1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
